<p id="notice"><%= notice %></p>

<p>
  <b>Suggestion:</b>
  <%= @advice.suggestion %>
</p>

<p>
  <b>Drink:</b>
  <%= @advice.drink %>
</p>


<%= link_to 'Edit', edit_advice_path(@advice) %> |
<%= link_to 'Back', advices_path %>
